.mine{
    background: #f5f6f7;
    padding: 16px;
    min-height: 100%;
    .userinfo{
        padding: 16px;
        .name{
            font-size: 32px;
            font-weight: 700;
        }
        .reference{
            margin-top: 10px;
        }
        .info{
            display: flex;
            .tel{
                margin-right: 20px;
                cursor: pointer;
            }
        }
    }
    .skill{
        padding: 16px;
        &-item{
            line-height: 24px;
            font-size: 16px;
        }
    }
    .title-box{
        display: flex;
        justify-content: center;
        align-items: center;
        .title{
            font-size: 24px;
            font-weight: 700px;
            padding: 10px 15px;
        }
        .line{
            flex: 1;
            height: 1px;
            background-color: #dee2e6;
            margin-right: 15px;
        }
    }
    .content{
        padding-left: 16px;
        color: rgb(134, 142, 150);
    }
}